nd009t-C2-Developing-ML-Workflow-master/project/submission/step-functions/ML-Workflow-Project-ImageClassification.asl.json
{
  "Comment": "This step function serialzes images given as input, classifies them and filters the predictions based on a given confidence.",
  "StartAt": "Seriazlize Image Data",
  "States": {
    "Seriazlize Image Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:419056005463:function:serializeImageData:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Classify Image Data",
      "OutputPath": "$.Payload"
    },
    "Classify Image Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:419056005463:function:classifyImageDataEndpointCalledDirectly:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Filter Classification Confidence",
      "OutputPath": "$.Payload.body"
    },
    "Filter Classification Confidence": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:419056005463:function:filterClassificationConfidence:$LATEST"
      },
      "End": true
    }
  }
}